# Universal
python-dotenv
datasets
pandas
tqdm

# PyTorch (Windows/macOS)
torch
transformers
peft
trl
accelerate

# macOS Specific
mlx-lm == 0.30.0; sys_platform == 'darwin'

# data augentation using google gemini
google
google-genai